<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <link rel="icon" href="images/fevicon.png" type="image/gif" />
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>BirtAgro</title>


  <!-- bootstrap core css -->


</head>

<body>
{% include 'header.html' %}
  <!-- header section strats -->
  


  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container  ">
      <div class="row">
        <div class="col-md-6 ">
          <div class="img-box">
            <!-- <img src="images/about-img.png" alt=""> -->
            <!-- <img src="http://bharatnursery.weebly.com/uploads/5/0/2/2/5022408/924026.jpg?542" alt=""> -->
            <img src="https://5.imimg.com/data5/RO/EV/CV/ANDROID-61592037/product-jpeg-500x500.jpg" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                About Us
              </h2>
            </div>
            <p>
              Birta Agro Concerns is the first Agro-based venture in Nepal founded with an objective to
            introduce and support planned agarwood and sandalwood plantation throughout the nation. With
            a team of highly devoted and experienced agriculture experts, Birta Agro Concerns has initially
            planned to grow one lac agarwood and one lac sandalwood trees across different states of Nepal.
            The company started its journey in (year of establishment and firm name). With its highly
            efficient planning and resource allocation; Birta Agro Concerns is soon going to establish itself
            as a pioneer in sustainable Agarwood and Sandalwood production and one of the Nepal’s largest
            plantation companies. With multiple Agarwood and Sandalwood plantation projects in pipeline,
            Birta Agro Concerns is strongly committed to social, economic and environmental concerns of
            Nepal since its inception.<br /><br/>
            With a primary motive to revive farmer’s losing interest in agricultural activities, we are also
            devoted to substantially reduce the talent loss in the form of migration (both in and out of Nepal).
            Alongside, Birta Agro Concerns is also working on maximizing returns for its investors by using
            the strength of both agro-realty and high-end sandalwood and agarwood production.
            Our organization is supported by a highly qualified team of experts in agriculture, agro-
            production, technology, and innovation. We are working with multiple motives including
            supporting farmers, agricultural communities and generating profits for clients who have placed
            their confidence in our initiatives.<br/><br/>
            We all share the objective of maximizing profits while conserving ecological integrity. Our
            considerable planter knowledge, as well as our strong network in the sandalwood and agarwood
            industries, assures optimal output and a fair sale price during harvest.
          </p>
            <a href="">
              Read More
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->

  <!-- info section -->

  {% include "footer.html" %}

</body>

</html>