{% comment %} {% include 'header.html'%}
<div class="container">
    <h3 style="align: center;">COMPANY GOALS AND OBJECTIVES</h3>
    <hr>
    Birta Agro Concerns’ primary goal is to promote agarwood and sandalwood plantations in Nepal
due to their high economic value in the international market, to support the agricultural
community, and to create more employment opportunities for youth in order to reduce migration
and support the national economy.
Some specific objectives of the company are as follows:
<hr>
<b>Plantation:</b> Birta Agro Concerns will be supporting the interested farmers and
agricultural communities in Agarwood and Sandalwood plantation. The support will be

provided in the form of technical guidance by agriculture experts, allocating essential
resources including seedlings, irrigation facilities, agarwood inoculation kits, etc. as well
as investment support.<br>

<b>Nursery:</b> For small farms, Birta Agro Concerns will be offering seedling to the farmers.
On the other hand, for large scale farms, we can assist communities and farmers to
develop their own Agarwood and Sandalwood nurseries. For the same, we will be
providing the seeds, fertilizers, manures, other resources as well as technical guidance by
our team of experts.<br>
<b>Harvesting:</b> Along with plantation and other processes, Birta Agro Concerns will be
helping the farm owners and communities with successful harvesting of the plantations.
Be it training labor for harvesting, selection of working techniques and methods,
minimization of post-harvesting losses, Birta will be assisting the associated stakeholders
for all technical concerns on ground.<br>
<b>Processing:</b> It is the step preceding harvesting of plantations. Birta Argo Concerns will
be assisting the farmers and communities with the processing of the woods and related
plant products to turn those into high demand commercial products for international
markets.<br>
<b> Quality Control:</b> Birta Agro Concerns will also support the farmers and agricultural
communities with quality control of the plantations. Our agriculture expert’s team will
help the farmers and communities to produce higher quantity and superior quality
agarwood and sandalwood via means of inoculation and optimal utilization of manures,
fertilizers, pesticides and farm management techniques.<br>
<b>Research and Innovation:</b> Our Research &amp; Development team is dedicated to the
enhancement of agarwood and sandalwood plantation yield, concentrating on features
such as volume, stem straightness, branching, wind stiffness, and wood quality, as well as
choosing plants that can respond to rising environmental variability such as frosts and
drought. We do and fund research in a range of stewardship areas, including as
endangered species population surveys and the restoration of damaged sites and vital
ecosystems.
</div>
{% include 'footer.html' %} {% endcomment %}




<!DOCTYPE html>
<html lang="en">
<head>
<title>Birta Agro</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% load static %}

<link rel="stylesheet" href="{% static 'css/page.css' %}"  />
<body>

    {% include 'header.html' %}
    <div class="container">
<section>
  <sidebar>
    <ul>
      <li><a href="#introduction">Introduction</a></li>
      <li><a href="#plantations">Plantation</a></li>
      <li><a href="#nurseries">Nursery</a></li>
      <li><a href="#harvesting">Harvesting</a></li>
      <li><a href="#processing">Processing</a></li>
      <li><a href="#quality">Quality Control</a></li>
      <li><a href="#research">Research and Innovation</a></li>
    </ul>
  </sidebar>
  
  <article>
    <h3 id="introduction">COMPANY GOALS AND OBJECTIVES</h3>
    <p>Birta Agro Concerns’ primary goal is to promote agarwood and sandalwood plantations in Nepal
        due to their high economic value in the international market, to support the agricultural
        community, and to create more employment opportunities for youth in order to reduce migration
        and support the national economy.</p>
    <h4 id="plantations">Plantation</h4><p>Birta Agro Concerns will be supporting the interested farmers and
        agricultural communities in Agarwood and Sandalwood plantation. The support will be
        
        provided in the form of technical guidance by agriculture experts, allocating essential
        resources including seedlings, irrigation facilities, agarwood inoculation kits, etc. as well
        as investment support.</p>
    <h4 id="nurseries">Nursery:</h4><p>For small farms, Birta Agro Concerns will be offering seedling to the farmers.
        On the other hand, for large scale farms, we can assist communities and farmers to
        develop their own Agarwood and Sandalwood nurseries. For the same, we will be
        providing the seeds, fertilizers, manures, other resources as well as technical guidance by
        our team of experts.</p>
    <h4 id=:"harvesting">Harvesting:</h4><p>Along with plantation and other processes, Birta Agro Concerns will be
        helping the farm owners and communities with successful harvesting of the plantations.
        Be it training labor for harvesting, selection of working techniques and methods,
        minimization of post-harvesting losses, Birta will be assisting the associated stakeholders
        for all technical concerns on ground.</p>
    <h4 id ="processing">Processing</h4><p>It is the step preceding harvesting of plantations. Birta Argo Concerns will
        be assisting the farmers and communities with the processing of the woods and related
        plant products to turn those into high demand commercial products for international
        markets.</p>
    <h4 id="quality">Quality Control</h4><p>Birta Agro Concerns will also support the farmers and agricultural
        communities with quality control of the plantations. Our agriculture expert’s team will
        help the farmers and communities to produce higher quantity and superior quality
        agarwood and sandalwood via means of inoculation and optimal utilization of manures,
        fertilizers, pesticides and farm management techniques.</p>
    <h4 id="research">Research and Innovation:</h4><p>Our Research &amp; Development team is dedicated to the
        enhancement of agarwood and sandalwood plantation yield, concentrating on features
        such as volume, stem straightness, branching, wind stiffness, and wood quality, as well as
        choosing plants that can respond to rising environmental variability such as frosts and
        drought. We do and fund research in a range of stewardship areas, including as
        endangered species population surveys and the restoration of damaged sites and vital
        ecosystems.</p>
</article>
</section>
{% include 'footer.html' %}
</body>