
<!DOCTYPE html>
<html lang="en">
<head>
<title>Birta Agro</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% load static %}

<link rel="stylesheet" href="{% static 'css/page.css' %}"  />
<body>

    {% include 'header.html' %}
    <div class="container">
<section>
  <sidebar>
    <ul>
      <li><a href="#introduction">Introduction</a></li>
      <li><a href="#nepal">Agarwood in Nepal</a></li>
      <li><a href="#sandalwood">Sandalwood plantation</a></li>
    </ul>
  </sidebar>
  
  <article>
    <h1 id="introduction">Introduction</h1>
    <p>Agarwood inoculation products and services in Nepal
        Agarwood production is a natural and complex process that is initiated when an Aquilaria tree
        contracts a fungal infection. Being a natural process, it is never certain whether an Aquiralia tree
        is going to produce agarwood or a commercially valuable quantity of the same or not. Therefore,
        in order to ensure the success of agarwood plantations and commercial production of the highly
        valuable non-timber resinous wood, researchers have invented a highly reliable technique called
        agarwood inoculation.
    <p>
        <p>Agarwood inoculation is an artificial inducement technique used to induce agarwood production
            in young Aquiralia trees. The inoculation process includes the induction of artificial wounds in
            the tree’s trunks followed by the introduction of a stimulant agent into the injury induced. The
            inducement technique is a highly reliable and effective method that ensures higher amounts of
            agarwood production.</p>
    <p> Being the first and the only Argo based venture into planned Agarwood plantation in Nepal;
        Birta Agro Concerns Pvt. Ltd. will be supplying Agarwood inoculation kits and other associated
        services to different stakeholders associated with Agarwood plantation in Nepal.  Birta Agro
        Concerns has collaborated with Z Black Diamond Agarwood LLP (a decade old pioneer in the
        global agarwood inoculation industry) headquartered in Assam, India. Birta Agro Concerns is an
        authorised agarwood inoculant distributor of Z Black Diamond agarwood LLP in Nepal.</p>
    <h4>We will be providing the following:</h4>
    <ul>
        <li>Agarwood inoculation kits</li>
        <li>Training local farmers and agriculture communities to use the inoculation kits</li>
        <li>Offering on-site inoculation services (In case farmers/communities are not interested in
            buying or can’t afford the kits)</li>
    </ul>
    <h1 id="nepal">Agarwood plantation in Nepal on 100 acres of land</h1>
    <p>
        Birta Agro Concerns has planned to plant 100 acres of land (1,00,000 plants) in Nepal with an
    Agarwood plantation by the end of 2023. The project is going to be implemented in different
    hilly and mountainous regions of Nepal, including Bhojpur, Sankhuwashabha, Morang, Sunsari,
    and Gulmi by collaboration with the local farmers and agriculture cooperative groups.
    A Brief about Agarwood Plantation
    </p>
    <h4>Short history of plantation:</h4>
    <p>
        Agarwood is a black, aromatic resin found imbedded in the
    usually pale wood of Aquilaria species. Agarwood production is associated with the
    wounding and fungal growth of Aquilaria trees. Agarwood is a highly precious product
    that has been traded for hundreds of years in various regions of the world. The plantation
    is extensively dispersed throughout South and Southeast Asia.

    </p>
    <h4>The economic value</h4>
    <p>
        The international commerce of agarwood includes wood, wood
    chips, powder, oil, etc. Aquiralia is the most precious tree in the world, with significant
    domestic and worldwide markets. Depending on the quality of the agarwood, its
    economic worth can range from $100,000 per kilogram for outstanding pure wood
    material to $100 per kilograms for inferior quality. The present global market for oud oil
    and associated agarwood products is believed to be worth $6–$8 billion.
</p>
<h4>The Medicinal Values:</h4> 
<p>
    Different species of Aquiralia possess different medicinal
    properties. Some of the common ones are: it is used to soothe muscle spasms, reduce
    fevers, and treat rheumatism, smallpox, and stomach aches. Moreover, it can help with
    worm infestation, wound healing, treatment of colds, coughs, and asthma, and may
    protect against both osteoarthritis and rheumatoid arthritis, as well as treat liver cirrhosis
    and renal issues and cure jaundice.
</p>
<h4>Product Market:</h4>
<p>
    The wood is in high demand throughout Asia and the Middle East for
    medicine, incense, and scent.
    Birta Agro Concerns Support
    We will be offering a complete support system to the farmers and agriculture communities,
    including:
</p>
<ul>
    <li>Agarwood Seedlings</li>
    <li>Plantation, cultivation, and harvesting support</li>
    <li>Fertilizers</li>
    <li>Inoculant kit/ on-sight inoculation facility</li>
    <li>Farm management support</li>
    <li>Help with Product Sales</li>
    <li>Investment support</li>
</ul>
<h1 id="sandalwood">A Brief about Sandalwood Plantation</h1>
<h2>Short history of plantation:</h2>
<p>P. santalinus, often known as Red Sandalwood, is a native
    species unique to India, only discovered in the southern Eastern Ghats. The white
    sandalwood, an evergreen tree, is indigenous to southern India and Southeast Asia. It is
    primarily found in the Indian states of Karnataka and Tamil Nadu.</p>
<h2>The economic values:</h2>
<p>One tonne of red sandalwood is sold in the international market at
    a price range of $70,000 to $1,15,000.</p>
<h2>The Medicinal values:</h2>
<p>Red sandalwood is highly priced due to its medicinal properties,
    as it has several therapeutic benefits and is utilised in alternative medicine. White
    sandalwood oil and powder are used in the treatment of skin diseases like acne and
    
    eczema, and respiratory illnesses such as the common cold, bronchitis, and sore throat.
    Moreover, it aids in the treatment of UTIs, cardiovascular illnesses, and liver and
    gallbladder issues.</p>
<h2>The Product market</h2>
<p>Red sandalwood is in high demand both domestically and globally,
    particularly in East Asian countries. As per a market demand survey, on an average, red
    sandalwood market demand is around 1,000 metric tonnes per year.
    Birta Agro Concerns Support
    </p>
    <h4>We will be offering a complete support system to the farmers and agriculture communities,
        including:</h4>
    <ul>
        <li>Sandalwood Seedlings</li>
        <li>Plantation, cultivation, and harvesting support</li>
        <li>Fertilizers</li>
        <li>Farm management support</li>
        <li>Help with Product Sales</li>
        <li>Investment support</li>
    </ul>
  </article>
</section>
</div>
{% include 'footer.html' %}

</body>
</html>

