
<!DOCTYPE html>
<html lang="en">
<head>
<title>Birta Agro</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% load static %}

<link rel="stylesheet" href="{% static 'css/page.css' %}"  />
<body>

    {% include 'header.html' %}
    <div class="container">
        <section>
            <sidebar>
              <ul>
                <li><a href="#Inoculation">Inoculation</a></li>
                <li><a href="#Production">Production and Sales</a></li>
                <li><a href="#Soil">Soil Test</a></li>
                <li><a href="#Quality">Quality Test</a></li>
              </ul>
            </sidebar>
            
            <article>
                <h1 id="Inoculation">Inoculation of Agar Wood:</h1>
                <p>
                    Natural process of agarwood production i.e. natural fungal
                    infection in Aquiralia tree doesn’t ensure high quality and quantity of agarwood. Thus,
                    inoculation approach has been developed by researchers and widely employed by farm
                    owners to serve the purpose since it is most successful and dependable way for increasing
                    agar output. Commercialization efforts are underway, with the goal of making the
                    technology available for widespread usage in the field. Birta Agro Concerns will be
                    providing agarwood inoculation kits, training farmers using the same and on-site
                </p><p>
                    agarwood inoculation service (in case farm owners or small farmers chose not to buy the
                    kits due to financial restraint).
                </p>
                <h1 id="Production">Inoculant production and sales:</h1>
                <p>Birta Agro Concerns has a tie-up with Z Black
                    Diamond Agarwood LLP, Assam, India. Thus, Birta is an authorized distributor of
                    agarwood inoculant kits in Nepal. Birta Agro Concerns will be supplying inoculation kits,
                    inoculation chemical and other associated accessories to farms and agricultural
                    communities.</p>
                <h1 id="Soil">Soil Test for Agarwood: </h1>
                <p>
                    Birta Agro Concerns will be providing soil tests for agar wood
plantation. Our expert(s) will conduct a site visit which will result in development of a
comprehensive soil profile to understand the suitability of a piece of land for agarwood
plantation. The profile will include an in-depth investigated soil conditions of a piece of
land, including attributes physical qualities, chemical properties, and nutrient content.
Based on expert’s opinion and own willingness, farm owners can take an informed
decision regarding initiation of the plantation.
                </p>
                <h1 id="Quality">Agarwood quality test:</h1>
                <p>Agarwood comes in a variety of grades, as does its essential oil.
                    They are exchanged in international market at various prices based on their quality. The
                    chemical compositions of agarwood vary from one another, affecting their quality. Birta
                    Agro Concerns will be assisting farm owners and agricultural communities to test the
                    agarwood quality produced in their farms. This will help the duo, the farm owner(s) and
                    agriculture expert(s) to develop a reasonable price structure to sell the products in
                    international market.</p>
                
            </article>
        </section>
    </div>
    {% include 'footer.html' %}
</body>